### Xcode ###
## User settings
xcuserdata/

## Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

### macOS ###
.DS_Store
.LSOverride

# Xcode Build
build/
DerivedData/
*.xcworkspace
*.xcuserstate
xcdebugger/

## Xcode settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcscmblueprint

## Debugging & Symbols
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

### CocoaPods ###
Pods/
Podfile.lock

### Google Services (Firebase, AdMob) ###
GoogleService-Info.plist

### Swift Package Manager ###
/.swiftpm
/.build/
.build/

### Carthage ###
Carthage/

### fastlane ###
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output